<div class="center hero-unit">
  <h1>University of Patras <br/>DIMANDS node</h1>

  <h2>News (to complete)</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

<br/>
  ...or if you have an account <%= link_to "Sign in", signin_path %>
</div>


